<figure id="bar">

    <div style="text-align: center; margin-top: 30px">
      <!-- <button (click)="sortData()">Sort</button> -->
      <div class="container">
        <div style="text-align: center;" class="abc">
          <h3>Filter the Data Below 44</h3>
          <button class="width filter-button" (click)="filterData()">Filter Data</button> 
          <button class="width reset-button" style="margin-left: 20px;" (click)="ResetData()">Reset Data</button> 
        </div>
      
        <div style="text-align:center;" class="def">
            <h3>Sort the Data in Ascending or Descending Value</h3>
            <button class="width filter-button" style="margin-right: 20px;" (click)="sortData(true)">Sort Ascending</button>
            <button class="width reset-button" (click)="sortData(false)">Sort Descending</button>
           
    
          </div>
    
          
    
        </div>
     
      </div>
    </figure>