<!DOCTYPE html>
<html>

<body>
  <h1 class="hh1">Dash-board</h1>
  <script src="https://d3js.org/d3.v4.js"></script>

    <div class="container">
        <h4>This data represents the percentage of people who have 
          used specific programming languages. The X-axis displays 
          a range of programming languages, while the Y-axis 
          represents the corresponding percentages of individuals 
          who have utilized each language for programming purposes.</h4>
        <div >
            <div class="chart">
             
                <app-bar class="xyz" [data]="barChartData"></app-bar>
              </div>
          </div>
      </div>
  
  
  </body>
  </html>